/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* ---------Переменные общие--------- */
  --page-font: 'IBM Plex Mono', monospace;
  --page-font-size: 18px;
  --text-weight: 400;
  --visible: visible;
  --header-weight: 700;
  --line-height: 130%;
  --accent-color: #ff0070;
  --section-gap: 20px;
  --main-gap: 20px;

  /* --------Переменные связанные с цветом------------ */
  --title-color: #ff0070;  /* замена на #353430 */
  --border-hover: rgb(255, 0, 112, 0.5); /* замена на #32312d66 */
  --color-article: #000028;  /* замена на #353430 */
  --page-color: #ff0070;  /* замена на #353430 */
  --head-text-background-color: #ff0070;  /* замена на #ff8dcb */
  --header-footer-color: #db00ff; /* замена на #ffc2e6 */
  --shadow-text-link-color: #ff0070; /* замена на #ff8dcb */
  --hover-color: #f1b2ce;  /* замена на #353430 */
  --background-color: #000028;  /* замена на #fff1f7 */
  --background-image: url("../images/cover-image-dark.png");
  --main-content-vertical-padding: 40px;
  --sections-gap: 50px;
  --section-padding: 10px;
}